<mat-drawer-container *ngIf="router.url == '/dashboard' || router.url == '/user'" class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
        <div class="logo-container">
            <img class="logo" src="assets/img/logo.png">
        </div>
        <ul class=menu-items>
            <li routerLink="/dashboard">
                <mat-icon>assignment</mat-icon>Dashboard</li>
            <li routerLink="/user">
                <mat-icon>account_box</mat-icon>User</li>
        </ul>
    </mat-drawer>


    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div>
                    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
                <mat-icon class="menu-icon">menu</mat-icon>
              </button>
                </div>
                <span>Simple CRM</span>
                <button mat-button class="logout">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>

<mat-drawer-container *ngIf="router.url != '/dashboard' && router.url != '/user'" class="mat-drawer-container" autosize>


    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Simple CRM</span>
                <button mat-button class="login" routerLink="login">
                    <mat-icon>login</mat-icon>
                    <span>Login</span>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>

    </div>

</mat-drawer-container>